# this is used for command parsing, should match the username of bot (e.g. @mybot)
TELEGRAM_BOT_NAME=<bot-name>

# the token provided by bot father
TELEGRAM_BOT_TOKEN=<token>

# rust logging parameters, tune as needed
RUST_LOG=info,ipcamera_bot=debug,ipcamera_bot::mp4=info,retina=debug,telegram_bot=debug
RUST_BACKTRACE=1

# camera rtsp connection parameters
CAMERA_URL=rtsp://<camera-ip>/stream1
CAMERA_USERNAME=<camera-username>
CAMERA_PASSWORD='<camera-password>'

# record video parameters
GET_RECORD_COMMAND=/get_live
RECORD_NO_AUDIO=true
RECORD_NO_VIDEO=false
RECORD_DURATION_SECONDS=5